#submit {
    cursor: default;
}

#book-list {
    width: 400px;
    border-collapse: collapse;
}
#book-list tr:hover {
    background-color: green;
}
#book-list th,
#book-list td {
    padding: 4px 6px;
    border: 0;
}
.recommend {
    background-color: yellow;
}

#pager {
    font-size: 18px;
}
#pager > a {
    display: inline-block;
    background-color: #ccc;
    padding: 6px 10px;
}