#page {
    overflow: hidden;
}

#book-list-filter {
    overflow: hidden;
    line-height: 30px;
    margin-bottom: 20px;
}
#book-list-filter > div {
    float: left;
    margin-right: 40px;
}

#book-list > li {
    overflow: hidden;
    margin: 0 20px 30px 0;
}
#book-list .image {
    float: left;
    margin-right: 20px;
}
#book-list .name {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
    margin: 6px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#book-list .name:hover {
    color: #f66;
    text-decoration: underline;
}
#book-list .summary > li {
    margin: 5px 0;
}
#book-list .key {
    display: inline-block;
    width: 80px;
}
#book-list .key::after {
    content: "：";
}
#book-list .price .value::before {
    content: "￥";
}
#book-list .action {
    margin-top: 18px;
}
#book-list .buy {
    padding: 6px 10px;
}